<p id="notice"><%= notice %></p>

<h1>Listing Transactions for <%=@investment.investment_desc%></h1>

<!-- 
The following will be comment out for debugging purposes. Use them for fixing the 
referencing problems between Models
<p> Number of Transacition for it is: <%=@investment_transactions.size%></p>
<p> Transactions being called from view has amount of  <%= @investment.investment_transactions.all.size %>  </p>
-->


<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Transaction desc</th>
      <th>Transaction date</th>
      <th>Investment desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @investment_transactions.each do |investment_transaction| %>
      <tr>
        <td><%= investment_transaction.amount %></td>
        <td><%= investment_transaction.transaction_desc %></td>
        <td><%= investment_transaction.transaction_date %></td>
        <td><%= investment_transaction.investment_desc %></td>
        <td><%= link_to 'Show', investment_investment_transaction_path(@investment,investment_transaction) %></td>
        <td><%= link_to 'Edit', edit_investment_investment_transaction_path(@investment,investment_transaction) %></td>
        <td><%= link_to 'Destroy', investment_investment_transaction_path(@investment,investment_transaction), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Investment transaction', new_investment_investment_transaction_path(@investment) %>
