<div class="container">
	<div class="row"> <p id="notice"><%= notice %></p> 
		<h3 align="center"><%= @inv.inv_desc %></h3>

		<p align="center">
		<%= image_tag @inv.image.url(:medium)%>
		</p>

		<%#= render 'mobile_form'  %>
		<div class="container">
			<div class="well">

				<div align="center">
					<h3 align="center">New Transaction</h3>
					<%= form_for :inv_tran do |f| %>
					Amount</br>
					<%= f.text_field :amount %> </br>
					Description</br>
					<%= f.text_field :transaction_desc %> </br>
					<%= f.submit  "Save" %>
					<% end %>
				</div>
			</div>
		</div> <!--/container-->

		<div class="well">

			<h1 align="center">Transactions </h1>
			<div class="table-responsive">
				<table class="table table-condensed">
					<thead>
						<tr>
							<th>Date</th>
							<th>Amount</th>
							<th>Description</th>
							<th colspan="1"></th>
						</tr>
					</thead>

					<tbody>
					<% @total = 0 %>
					<% @inv.inv_trans.all.each do |inv_tran| %>
					<tr>
						<td><%= inv_tran.transaction_date %></td>
						<td><%= inv_tran.amount %></td>
						<td><%= inv_tran.transaction_desc %></td>
						<td><%= link_to 'Remove', inv_inv_tran_path(@inv,inv_tran), method: :delete, data: { confirm: 'Are you sure?' } %></td>
						<% @total = @total + inv_tran.amount %>
					</tr>
					<% end %>
					</tbody>
				</table>

				<br>
				<div align="center">
					<p><strong>Total</strong></p>
					<p><%= @total %></p>
				</div>

			</div> <!--/table-responsive-->
		</div> <!--/well-->

		<% if @inv.notes %>
		<% if !@inv.notes.empty? %>
		<%= content_tag(:p,content_tag(:strong,"Notes")) %>
		<%= content_tag(:p, @inv.notes) %>
		<% end %>
		<% end %>

		<div align="right">
			<%= link_to 'Edit', edit_inv_path(@inv) %> |
			<%= link_to 'Back', invs_path %> |
			<%= link_to 'Delete', inv_path(@inv), method: :delete, data: {confirm: 'Are you sure?'} %>
		</div>
	</div>
</div>
