<div class="container">
	<div align="center" class="row">
		<p id="notice"><%= notice %></p>

		<p><strong><%= @inv.inv_desc %></strong></p>

		<p>
		<%= image_tag @inv.image.url(:medium)%>
		</p>

		<p>
		<strong>Notes:</strong>
		<%= @inv.notes %>
		</p>


		<h1>Transactions  <button type="button" class="btn btn-primary">Add New</button> </h1>

		<div class="table-responsive">
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>Date</th>
						<th>Amount</th>
						<th>Description</th>
						<th colspan="1"></th>
					</tr>
				</thead>

				<tbody>
				<% @total = 0 %>
				<% @inv.inv_trans.all.each do |inv_tran| %>
				<tr>
					<td><%= inv_tran.transaction_date %></td>
					<td><%= inv_tran.amount %></td>
					<td><%= inv_tran.transaction_desc %></td>
					<td><%= link_to 'Destroy', inv_inv_tran_path(@inv,inv_tran), method: :delete, data: { confirm: 'Are you sure?' } %></td>
					<% @total = @total + inv_tran.amount %>
				</tr>
				<% end %>
				</tbody>
			</table>

			<br>

			<h1> Total </h1>
			<p><%= @total %></p>
			<%= link_to 'Edit', edit_inv_path(@inv) %> |
			<%= link_to 'Back', invs_path %> |
			<%= link_to 'Delete', inv_path(@inv), method: :delete, data: {confirm: 'Are you sure?'} %>
		</div>
	</div>
</div>
